In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.1.4'

In [32]:
import gzip
!pip install wget
import wget

Collecting wget
  Downloading wget-3.2.zip (10 kB)
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Building wheels for collected packages: wget
  Building wheel for wget (pyproject.toml) ... done
  Created wheel for wget: filename=wget-3.2-py3-none-any.whl size=9655 sha256=ac74c6b6fb73f9afdf7c0e58afcacc825c50a0b67f5d75d70daf810a632467b8
  Stored in directory: /home/codespace/.cache/pip/wheels/8b/f1/7f/5c94f0a7a505ca1c81cd1d9208ae2064675d97582078e6c769
Successfully built wget
Installing collected packages: wget
Successfully installed wget-3.2

In [35]:
wget.download("https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz")

100% [..........................................................................] 7854533 / 7854533

'green_tripdata_2019-09.csv.gz'

In [36]:
with gzip.open('green_tripdata_2019-09.csv.gz', 'rb') as f_in:
    with open('green_tripdata_2019-09.csv', 'wb') as f_out:
        f_out.writelines(f_in)

In [37]:
df = pd.read_csv('green_tripdata_2019-09.csv', nrows=100)

In [40]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [41]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /usr/local/python/3.10.13/lib/python3.10/site-packages (2.0.25)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/codespace/.local/lib/python3.10/site-packages (from sqlalchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from sqlalchemy) (3.0.3)
Note: you may need to restart the kernel to use updated packages.

In [42]:
from sqlalchemy import create_engine

In [43]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [44]:
print(pd.io.sql.get_schema(df, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [45]:
df_iter = pd.read_csv('green_tripdata_2019-09.csv', iterator=True, chunksize=100000)

In [46]:
df = next(df_iter)

In [47]:
len(df)

100000

In [49]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [50]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1,1,0.0
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,7.5,0.5,0.5,1.50,0.0,NaN,0.3,10.30,1,1,0.0
4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,14.0,0.5,0.5,3.06,0.0,NaN,0.3,18.36,1,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2,2019-09-08 21:34:31,2019-09-08 21:42:44,N,1,74,151,1,2.12,8.5,0.5,0.5,2.45,0.0,NaN,0.3,12.25,1,1,0.0
99996,2,2019-09-08 21:06:54,2019-09-08 21:12:38,N,1,130,28,1,0.83,5.5,0.5,0.5,0.00,0.0,NaN,0.3,6.80,2,1,0.0
99997,2,2019-09-08 21:22:10,2019-09-08 21:29:33,N,1,130,10,1,2.56,9.5,0.5,0.5,2.00,0.0,NaN,0.3,12.80,1,1,0.0
99998,2,2019-09-08 21:33:42,2019-09-08 21:33:48,N,5,92,92,1,0.13,22.0,0.0,0.0,0.00,0.0,NaN,0.0,22.00,1,2,0.0
99999,2,2019-09-08 21:29:16,2019-09-08 21:36:45,N,1,7,7,1,1.09,6.5,0.5,0.5,0.00,0.0,NaN,0.3,7.80,2,1,0.0

In [51]:
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

In [52]:
%time df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

CPU times: user 6.93 s, sys: 76 ms, total: 7 s
Wall time: 10.3 s

1000

In [53]:
from time import time

In [55]:
while True: 
    t_start = time()

    df = next(df_iter)

    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    
    df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 10.061 second

/tmp/ipykernel_51530/1406748514.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk, took 10.187 second
inserted another chunk, took 4.411 second

StopIteration:

In [22]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2024-01-29 17:55:18--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 16.182.70.88, 52.216.37.72, 52.216.86.205, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|16.182.70.88|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi+_zone_lookup.csv’

taxi+_zone_lookup.c 100%[===================>]  12.03K  --.-KB/s    in 0s

2024-01-29 17:55:19 (63.8 MB/s) - ‘taxi+_zone_lookup.csv’ saved [12322/12322]

In [23]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [24]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [25]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265

In [26]:
df_tax = pd.read_csv('green_tripdata_2019-09.csv')

/tmp/ipykernel_51530/1666785021.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_tax = pd.read_csv('yellow_tripdata_2021-01.csv')

In [28]:
from datetime import datetime
df_tax['lpep_pickup_datetime'] = pd.to_datetime(df_tax['lpep_pickup_datetime'])
df_tax['lpep_dropoff_datetime'] = pd.to_datetime(df_tax['lpep_dropoff_datetime'])

# Filter the data for trips on September 18, 2019
mask = (df_tax['lpep_pickup_datetime'].dt.date == datetime(2019, 9, 18).date()) & \
       (df_tax['lpep_dropoff_datetime'].dt.date == datetime(2019, 9, 18).date())
filtered_df = df_tax[mask]

# Count the number of trips
num_trips = len(filtered_df)

print(f"Number of trips on September 18, 2019: {num_trips}")

Number of trips on September 18, 2019: 0